<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-left">
            <a href="{% url 'app:dashboard' %}" class="navbar-btn">/dashboard</a>
            <a href="{% url 'app:habit_list' %}" class="navbar-btn">/habits</a>
            <a href="{% url 'app:episode_list' %}" class="navbar-btn">/episodes</a>
            <a href="{% url 'app:projects' %}" class="navbar-btn">/projects</a>
        </div>
        <div class="navbar-right">
            {% if request.user.is_authenticated %}
            <a href="{% url 'app:logout' %}" class="navbar-btn">Logout</a>
            {% else %}
            <a href="{% url 'app:login' %}" class="navbar-btn">Login</a>
            {% endif %}
        </div>
    </div>
</nav>

