{% load static %}
<footer>
    <div class="section">
        <h1>Contact</h1>
        <div class="columns">
            <div class="column">
                <p>
                    Per a qualsevol cosa seriosa em podeu contactar a
                    <a href="mailto:jacobrafols@gmail.com" class="bubble">jacobrafols@gmail.com</a>
                    i no us contestare fins d'aquí a tres milenis, que estem al segle XXI home!.
                </p>
            </div>
            <div class="column">
                <h2>Social</h2>
                <div id="social-links">
                    <div>
                        <a href="https://youtube.com/@jacobrafols" class="bubble">
                            <span>@jacobrafols</span>
                        </a>
                    </div>
                    <div>Hi faig coses interessants</div>

                    <div class="fill-width">
                        <a href="https://twitch.tv/jer0qui" class="bubble">
                            <span>@jer0qui</span>
                        </a>
                    </div>

                    <div class="fill-width">
                        <a href="https://open.spotify.com/user/ovnijacob?si=dadb4261a3894da0" class="bubble">
                            <span>ovnijacob</span>
                        </a>
                    </div>

                    <div>
                        <a href="https://twitter.com/jaky_ob" class="bubble">
                            <span>@jaky_ob</span>
                        </a>
                    </div>
                    <div>Per contactarme</div>

                    <div>
                        <a href="https://instagram.com/jaky_ob" class="bubble">
                            <span>@jaky_ob</span>
                        </a>
                    </div>
                    <div>Per dir-me guapo</div>

                    <div>
                        <a href="javascript:alert('He dit que no!')" class="bubble">
                            <span>??</span>
                        </a>
                    </div>
                    <div>No soc prou boomer</div>

                    <div>
                        <a href="https://tiktok.com/@jer0qui" class="bubble">
                            <span>@jer0qui</span>
                        </a>
                    </div>
                    <div>What??</div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="center" id="copy">
                <span>©</span>
                Jacob Ràfols Morilla
                <span>•</span>
                2022
            </div>
            <div class="footer-auth">
                {% if user.is_authenticated %}
                <a href="{% url 'app:dashboard' %}" class="bubble">Dashboard</a>
                {% else %}
                <a href="{% url 'app:login' %}" class="bubble">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
</footer>
