<div class="dropdown-wrapper">
    <button class="navbar-btn" onclick="this.parentElement.classList.toggle('open')">
        {{ label|default:"Lang" }}
    </button>
    <div class="dropdown glass-card">
        <span class="selected">catspanglish</span>
        <div class="info">
            <p>Barrejo tots els idiomes que coneixo com em surt de la fava. Si no t'agrada. <a href="https://tenor.com/view/brooklyn-nine-nine-deal-with-it-amy-santiago-b99-brooklyn99-gif-18387659"><i>Deal with it</i></a></p>
        </div>
    </div>
</div>
