<nav class="navbar" id="navbar">
    <div class="navbar-container">
        <div class="navbar-left">
            <a href="{% url 'app:home' %}" class="navbar-btn">/</a>
            <a href="{% url 'app:blog_list' %}" class="navbar-btn">/blog</a>
            <a href="{% url 'app:projects' %}" class="navbar-btn">/projects</a>
        </div>
        <div class="navbar-right">
            {% include 'components/lang_dropdown.html' %}
        </div>
        <button class="navbar-hamburger" aria-label="Toggle menu" aria-expanded="false">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
    <div class="navbar-mobile-menu">
        <a href="{% url 'app:home' %}" class="navbar-btn">/</a>
        <a href="{% url 'app:blog_list' %}" class="navbar-btn">/blog</a>
        <a href="{% url 'app:projects' %}" class="navbar-btn">/projects</a>
        <div class="navbar-mobile-divider"></div>
        {% include 'components/lang_dropdown.html' with label="lang: catspanglish" %}
    </div>
</nav>
