{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="{% static 'app/favicon.ico' %}" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jacob Ràfols CV</title>
    
    {% include 'meta/meta.html' %}
    {% include 'components/gtag.html' %}
    
    <script type="module" crossorigin src="{% static 'app/projects/curriculum/index.cf561f54.js' %}"></script>
    <link rel="stylesheet" href="{% static 'app/projects/curriculum/index.4b250e66.css' %}">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
