.dotted-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0004;
  background-image: radial-gradient(black 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
}

.vanish-mask {
  width: 100%;
  height: 100%;
  mask-image: linear-gradient(
    90deg,
    transparent 0%,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 1) 70%,
    transparent 100%
  );

  @media screen and (max-width: 600px) {
    mask-image: none;
    overflow: hidden;
  }
}

