@use "../variables" as vars;

.btn-link {
  display: inline-flex;
  align-items: center;
  font-size: 1.2em;
  font-weight: 100;
  font-family: inherit;
  margin: 0.4rem;
  padding: 0.5rem 1.5rem;
  outline: 0px solid rgba(255, 166, 0, 0);
  border: none;
  border-radius: 0.8rem;
  background-color: vars.$primary-color;
  color: vars.$text-color;
  text-decoration: none;
  transition: background-color vars.$hover-time ease, outline 0.1s ease;

  &:hover {
    background-color: rgba(255, 202, 104, 0.849);
  }

  &:focus {
    outline: 4px solid rgba(255, 166, 0, 0.363);
  }
}

