@use "../variables" as vars;

.glass-card {
  border: 1px solid black;
  border-radius: 8px;
  background-color: rgba(vars.$bg-color, 0.5);
  backdrop-filter: blur(5px);
  margin: 1rem;
  padding: 1rem;
}

