// Widths
$container-width: 1200px;

// Colors
$bg-color: rgb(34, 33, 59);
$bg-color-light: rgb(61, 57, 138);
$primary-color: orange;
$text-color: white;
$secondary-color: rgb(166, 255, 243);

// Time
$hover-time: 0.4s;

