{% load static %}
<!DOCTYPE html>
<html lang="ca" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ortografia</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'app/projects/ortografia/ortografia.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include 'meta/meta.html' %}
    {% include 'components/gtag.html' %}
  </head>
  <body>
    <div id="app" class="wrapper">
      Loading...
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="{% static 'app/projects/ortografia/words.js' %}"></script>
    <script src="{% static 'app/projects/ortografia/sentences.js' %}"></script>
    <script src="{% static 'app/projects/ortografia/ortografia.js' %}"></script>
  </body>
</html>
